body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  background: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 320px;
}

input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.submit {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.display {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.timerControls {
  margin-top: 20px;
}

.timerControls .startButton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.startButton:hover {
  background-color: #3e8e41;
}

.timerControls .pauseButton {
  background-color: #ffc107;
  margin-left: 10px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pauseButton:hover {
  background-color: #3e8e41;
}

.timerControls .resetButton {
  background-color: #f44336;
  margin-left: 10px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.resetButton:hover {
  background-color: #3e8e41;
}
